
<table>
	<tr>
		<td><input type="radio" name="filter"
			ng-model="ctrl.optionFilter" value="type" />Filter by coupon type</td>
		<td><select ng-model="ctrl.filterType">
				<option value="RESTAURANTS">Restaurants</option>
				<option value="ELECTRICITY">Electricity</option>
				<option value="FOOD">Food</option>
				<option value="HEALTH">Health</option>
				<option value="SPORTS">Sports</option>
				<option value="CAMPING">Camping</option>
				<option value="TRAVELLING">Travelling</option>
		</select></td>
	</tr>
	<tr>
		<td><input type="radio" name="filter"
			ng-model="ctrl.optionFilter" value="price" />Filter below price</td>
		<td><input type="number" ng-model="ctrl.filterPrice" /></td>
	</tr>
</table>
<input type="button" ng-click="ctrl.applyFilter()" value="Apply filter" />

<table border=1>
	<tr>
		<th style="background-color: aqua; color: black;'">Id</th>
		<th style="background-color: aqua; color: black;'">Title</th>
		<th style="background-color: aqua; color: black;'">Start date</th>
		<th style="background-color: aqua; color: black;'">End date</th>
		<th style="background-color: aqua; color: black;'">Amount</th>
		<th style="background-color: aqua; color: black;'">Type</th>
		<th style="background-color: aqua; color: black;'">Message</th>
		<th style="background-color: aqua; color: black;'">Price</th>
	</tr>
	<tr ng-repeat="coupon in ctrl.allPurchasedCouponsFiltered | orderBy: 'id'">
		<td>{{coupon.id}}</td>
		<td>{{coupon.title}}</td>
		<td>{{coupon.startDateShort}}</td>
		<td>{{coupon.endDateShort}}</td>
		<td>{{coupon.amount}}</td>
		<td>{{coupon.type}}</td>
		<td>{{coupon.message}}</td>
		<td>{{coupon.price}}</td>
	</tr>
</table>
<p><h3 ng-if = "ctrl.isError" style="color:red">Error: {{ctrl.errMessage}}</h3></p>