
<input type="button" ng-click="ctrl.getAllCoupons()"
	value="Refresh coupons list" />
<table border=1>
	<tr>
		<th style="background-color: aqua; color: black;'">Id</th>
		<th style="background-color: aqua; color: black;'">Title</th>
		<th style="background-color: aqua; color: black;'">Start date</th>
		<th style="background-color: aqua; color: black;'">End date</th>
		<th style="background-color: aqua; color: black;'">Amount</th>
		<th style="background-color: aqua; color: black;'">Type</th>
		<th style="background-color: aqua; color: black;'">Message</th>
		<th style="background-color: aqua; color: black;'">Price</th>
	</tr>
	<tr ng-repeat="coupon in ctrl.allCoupons | orderBy: 'id'">
		<td>{{coupon.id}}</td>
		<td>{{coupon.title}}</td>
		<td>{{coupon.startDateShort}}</td>
		<td><span ng-show="!coupon.edit">{{coupon.endDateShort}}</span> <input
			type="text" style="background-color: yellow" ng-show="coupon.edit"
			ng-model="coupon.endDateShort" /></td>
		<td>{{coupon.amount}}</td>
		<td>{{coupon.type}}</td>
		<td>{{coupon.message}}</td>
		<td><span ng-show="!coupon.edit">{{coupon.price}}</span> <input
			type="number" style="background-color: yellow" ng-show="coupon.edit"
			ng-model="coupon.price" /></td>
		<td><button ng-click="ctrl.updateCoupon(coupon.id)">{{coupon.edit?
				'Update' : 'Edit'}}</button>
		<td><button ng-click="ctrl.deleteCoupon(coupon.id)">Delete</button>
	</tr>
</table>
<p><h3 ng-if = "ctrl.isError" style="color:red">Error: {{ctrl.errMessage}}</h3></p>